@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family:'Roboto',sans-serif;
  background-color: #f7f7f7;
  color: #0A2463;
}

h1 {
  margin-left: 20px;
  color: white;
}

h2 {
  margin-bottom: 20px;
  color: #2a79a7;
}

h4 {
  margin-bottom: 15px;
  color: #2a79a7;
}

h5 {
  margin-top: 6px;
  margin-bottom: 1px;
  color: #0A2463;
}

p {
  margin: 5px 0px 5px 0px;
}

.nav {
  padding: 1px;
  background-color: #5C8BA5;
}

.main {
  display: flex;
  /* flex-flow: row; */
  flex-flow: column nowrap;
  justify-content: center;
}

.journal-form {
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 10px;
}

.journal-form label{
  margin-top: 40px;
}

.mood {
  /* display: flex; */
  flex-flow: row;
  margin: auto;
  max-width: 70%;
  min-width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
}

.entries {
  display: flex;
  margin: auto;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.entry {
  display: flex;
  max-width: 70%;
  min-width: 70%;
  margin: 1em;
  padding: 1%;
  flex-flow: column nowrap;
  justify-content: center;
  border:2px solid #0A2463;
}

input {
  /* width:100%; */
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #5C8BA5;
}

input:focus {
  border-bottom:2px solid #2a79a7;
}

button {
  display: flex;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
  padding:8px 12px;
  align-items: center;
  justify-content: center;
  border:2px solid #5C8BA5;
  background: #f7f7f7;
  cursor:pointer;
  transition:all .3s;
}

button:hover {
  background:#2a79a7;
  border: 2px solid #2a79a7;
}